---
import ProjectCard from './ProjectCard.astro';

type Project = {
    image: string
    title: string
    listElements: string[]
    btnLabel: string
}

interface Props {
    projectCards: Project[]
}

const { projectCards } = Astro.props


---


<section>
    <!-- Project Cards -->
    {
        projectCards.map((project) => (
            <ProjectCard image={project.image} title={project.title} listElements={project.listElements} btnLabel="Contact Us" />
        ))
    }
</section>
<style>

section{
    max-width: 90%;
    margin-inline: auto;
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;

}

</style>



