---

import H6 from '../Elements/H6.astro';
import H2 from '../Elements/H2.astro';
import TextParagraph from '../Elements/TextParagraph.astro';
import QuestionList from './QuestionList.astro';

type QnA = {
    question: string;
    answer: string;
}

interface Props {
    questionArray: QnA[]
    smallTitle: string
    title: string
    text: string
}

const { questionArray, smallTitle, title, text } = Astro.props

---

<section>
<!-- Question Component -->
    <H6>{smallTitle}</H6>
    <H2>{title}</H2>
    <TextParagraph>{text}</TextParagraph>
    <QuestionList questions={questionArray} />
</section>

<style>

section{
    order: -1;
    flex-basis: 700px;
    padding: 0;
}

</style>