---
import Question from './Question';

type QnA = {
  question: string;
  answer: string;
}

interface Props {
  questions: QnA[];
}


const { questions } = Astro.props

---


<div>
    {questions.map(question => <Question client:only question={question.question} answer={question.answer} />)}
</div>


<style>

div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

</style>
