---
import H6 from '../Elements/H6.astro';
import H2 from '../Elements/H2.astro';
import TeamCards from './TeamCards.astro';

---


<section>
<!-- Out Team Component -->

    <H6>OUR TEAM</H6>
    <H2>we work with team</H2>
    <TeamCards />

</section>