---
import H1 from '../Elements/H1.astro';
import ProcedureCard from '../Elements/ProcedureCard.astro';

interface Props {
    quote: string
    cardTitle: string
    text: string
    imagePath: string
}

const { quote, cardTitle, text, imagePath } = Astro.props

---


<section>
    <!-- Quote Component -->
    <ProcedureCard src={imagePath} mainText={cardTitle} subText={text} />
    <H1>"{quote}"</H1>

</section>



<style>

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 6.8rem;
    justify-items: flex-end;
    gap: 2rem;
}
</style>