---
import H1 from '../Elements/H1.astro';
import H2 from '../Elements/H2.astro';
import ProcedureCard from '../Elements/ProcedureCard.astro';

interface Props {
    quote: string
    cardTitle: string
    text: string
    imagePath: string
}

const { quote, cardTitle, text, imagePath } = Astro.props

---


<section>
    <!-- Quote Component -->
    <ProcedureCard src={imagePath} mainText={cardTitle} subText={text} primary />
    <div>
        <H2>"{quote}"</H2>
    </div>

</section>



<style>

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

div{
    flex-basis: 600px;
    flex-grow: 9999;
    text-align: center
}

</style>