---
import logoImage from '../../assets/logo.png'
---

<div>
    <img width={50} height={50} src={logoImage.src} alt="logo" >
    <p>Elevate Build</p>
</div>


<style>
    div{
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
    p{
        font-size: 2.5rem;
        font-weight: 800;
        color: var(--background-color);
        text-transform: uppercase;
    }
</style>