---
interface Props {
    href: string;
    label: string;
}

const { href, label } = Astro.props;
---

<a href={href}>{label}</a>

<style>
a{
    text-decoration: none;
    color: var(--background-color);
    font-size: 1.8rem;
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    a{
        padding-bottom: 0.4rem;
        border-bottom: 0.2rem solid var(--background-color);
    }
    
}

</style>