---
interface Props {
    href: string;
    label: string;
}

const { href, label } = Astro.props;
---

<a href={href}>{label}</a>

<style>
a{
    text-decoration: none;
    color: var(--background-color);
    font-size: 1.8rem;
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    a{
        padding-block: 0.8rem;
    }    

    a:nth-child(2n+1){
        background-color: var(--dark-color-light);
    }

    a:hover{
        color: var(--primary-color);
        background-color: var(--accent-color);
        color:black;
        scale: 1.08;
        transition: all 0.1s ease;
    }

}

</style>