---
import NavItem from './NavigationItem.astro';
---

<nav>
    <NavItem href="/" label="Home"  />
    <NavItem href="/about" label="About"  />
    <NavItem href="/services" label="Services"  />
    <NavItem href="/projects" label="Projects"  />
    <NavItem href="/portfolio" label="Portfolio"  />
    <NavItem href="/faq" label="FAQ"  />
    <NavItem href="/blog" label="Blog"  />
</nav>


<style>

nav{
    display: flex;
    gap: 1.8rem;
}

</style>