---
import Logo from './Logo.astro';
import Navigation from './Navigation.astro';
---

<header>
    <div class="logo">
        <Logo />
    </div>
    <Navigation />
</header>

<style>

header{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.8rem;
    border-bottom: 1px solid var(--background-color);
}

@media screen and (max-width: 900px) {
    .logo{
        display: none;
    }
}

</style>