---
import Button from '../components/Elements/Button.astro';
import H2 from '../components/Elements/H2.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="404 Not found">
	<main>
        <h1>ERROR 404</h1>
        <H2>PAGE NOT FOUND, PLEASE GO BACK</H2>
        <Button label="Go Back" />
	</main>
</Layout>


<style>

main{
    text-align: center;
}

h1{
    font-size: 8.8rem;
    font-weight: 800;
}

</style>