---
import Layout from '../layouts/Layout.astro';
import SecondaryHeader from '../components/SecondaryHeader.astro';
import IntroductionComponent from '../components/IntroductionComponent.astro';
import OurTeamComponent from '../components/AboutUs/OutTeamComponent.astro';
import QuoteComponent from '../components/AboutUs/QuoteComponent.astro';
---

<Layout title="About">
	<main>
		<SecondaryHeader title="About Us" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis eget purus quis blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis. Sed vehicula, erat ac commodo elementum, enim tortor interdum nibh, quis condimentum mi sem eu sapien. Nunc viverra mi at nulla faucibus, at lacinia ligula rutrum. " />
		<IntroductionComponent />
		<OurTeamComponent />
		<QuoteComponent />
	</main>
</Layout>