---
import Layout from '../layouts/Layout.astro';
import SecondaryHeader from '../components/SecondaryHeader.astro';
import PostsComponents from '../components/Blog/PostsComponents.astro';

const posts = [
	{
		title: "Post 1",
		description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis eget purus quis blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis.",
		thumbnail: "../../assets/img/galleryImage.jpg"
	},
	{
		title: "Post 2",
		description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis eget purus quis blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi v blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi v blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi v blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis eget purus quis blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis.",
		thumbnail: "../assets/img/galleryImage.jpg"
	},
	{
		title: "Post 3",
		description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis eget purus quis blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis.",
		thumbnail: "../assets/img/galleryImage.jpg"
	},
	{
		title: "Post 4",
		description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis eget purus quis blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis.",
		thumbnail: "../assets/img/galleryImage.jpg"
	},
	{
		title: "Post 1",
		description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis eget purus quis blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis.",
		thumbnail: "../../assets/img/galleryImage.jpg"
	},
	{
		title: "Post 2",
		description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis eget purus quis blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi v blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi v blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi v blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis eget purus quis blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis.",
		thumbnail: "../assets/img/galleryImage.jpg"
	},
	{
		title: "Post 3",
		description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis eget purus quis blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis.",
		thumbnail: "../assets/img/galleryImage.jpg"
	},
	{
		title: "Post 4",
		description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis eget purus quis blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis.",
		thumbnail: "../assets/img/galleryImage.jpg"
	},
	{
		title: "Post 1",
		description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis eget purus quis blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis.",
		thumbnail: "../../assets/img/galleryImage.jpg"
	},
	{
		title: "Post 2",
		description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis eget purus quis blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi v blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi v blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi v blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis eget purus quis blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis.",
		thumbnail: "../assets/img/galleryImage.jpg"
	},
	{
		title: "Post 3",
		description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis eget purus quis blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis.",
		thumbnail: "../assets/img/galleryImage.jpg"
	},
	{
		title: "Post 4",
		description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis eget purus quis blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis.",
		thumbnail: "../assets/img/galleryImage.jpg"
	}
]

---

<Layout title="BLOG">
	<main>
		<SecondaryHeader 
			title="blog" 
			text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis eget purus quis blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis. Sed vehicula, erat ac commodo elementum, enim tortor interdum nibh, quis condimentum mi sem eu sapien. Nunc viverra mi at nulla faucibus, at lacinia ligula rutrum. " />
        <PostsComponents 
			posts={posts} 
		/>
	</main>
</Layout>