---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Home/Hero.astro';
import ServiceCards from '../components/ServiceCards.astro';
import IntroductionComponent from '../components/IntroductionComponent.astro';
import OurWorkProcedureComponent from '../components/OurWorkProcedureComponent.astro';
---

<Layout title="Home">
	<main>
		<Hero />
		<ServiceCards />
		<IntroductionComponent />
		<OurWorkProcedureComponent />
	</main>
</Layout>


