---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Home/Hero.astro';
import ServiceCards from '../components/Elements/ServiceCards.astro';
import IntroductionComponent from '../components/IntroductionComponent.astro';
import OurWorkProcedureComponent from '../components/OurWorkProcedureComponent.astro';
import ImageCarousel from '../components/Home/ImageCarousel';
import PortfolioComponent from '../components/PortfolioComponent.astro';
import VideoComponent from '../components/VideoComponent.astro';
---

<Layout title="Home">
	<main>
		<Hero />
		<ServiceCards />
		<IntroductionComponent />
		<OurWorkProcedureComponent />
		<ImageCarousel client:only />
		<PortfolioComponent />
		<VideoComponent />
	</main>
</Layout>

