---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Home/Hero.astro';
import ServiceCards from '../components/Home/ServiceCards.astro';
---

<Layout title="Home">
	<main>
		<Hero />
		<ServiceCards />
	</main>
</Layout>


