---

import H1 from '../Elements/H1.astro';
import H6 from '../Elements/H6.astro';
import TextParagraph from '../Elements/TextParagraph.astro';
import Button from '../Elements/Button.astro';

interface Props {
    title: string
    smallTitle: string
    text: string
    btnLabel: string
}

const { title, smallTitle, text, btnLabel } = Astro.props

---

<section>
    <!-- Hero Section -->
    <div class="hero-content">
        <H6>{smallTitle}</H6>
        <H1>{title}</H1>
        <TextParagraph>{text}</TextParagraph>
        <Button label={btnLabel} />
    </div>
</section>

<style>

div{
    padding-top: 2rem;
    padding-bottom: 6rem;
    container-type: inline-size;
    container-name: hero-text;
}

.hero-content{
    max-width: 60%;
}

@container hero-text (max-width: 1100px) {
    
    .hero-content{
        max-width: 100%;
    }
    
}



</style>