
---
import TextParagraph from '../Elements/TextParagraph.astro'


interface Props {
    stars: number,
    srcPath: string,
    name: string,
    position: string
}

const { stars, srcPath, name, position } = Astro.props

---

<div class="card-component">
    {stars}
    <TextParagraph>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</TextParagraph>
    <div>
        <img src={srcPath} width="80" height="80" alt="image">
        <div>
            <p>{name}</p>
            <p>{position}</p>
        </div>
    </div>
</div>


<style>

.card-component{
    border: 1px solid #f5f5f5;
    padding: 3rem;
    box-shadow: 0 1px 10px #000;
}

.card-component > div{
    display: flex;
    gap: 1rem;
    align-items: center;
}

p{
    font-size: 1.6rem;
    padding: 0.4rem;
}

p:nth-child(1){
    font-weight: bold;
}

img{
    border-radius: 50%;
}

</style>