
---
import H6 from '../Elements/H6.astro'
import TextParagraph from '../Elements/TextParagraph.astro'


interface Props {
    srcPath: string,
    name: string,
    position: string
}

const {srcPath, name, position } = Astro.props
---

<div class="card-component">
    <H6>⭐️⭐️⭐️⭐️⭐️</H6>
    <TextParagraph>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</TextParagraph>
    <div>
        <img src={srcPath} width="80" height="80" alt="image">
        <div>
            <p>{name}</p>
            <p>{position}</p>
        </div>
    </div>
</div>


<style>

.card-component{
    flex-basis: 700px;
    border: 1px solid var(--accent-color);
    padding: 3rem;
    flex-grow: 1;
    background-color: var(--secondary-color);
}

.card-component > div{
    display: flex;
    gap: 1rem;
    align-items: center;
}

p{
    font-size: 1.6rem;
    padding: 0.4rem;
}

p:nth-child(1){
    font-weight: bold;
}

img{
    border-radius: 50%;
}

</style>