---
import H2 from './Elements/H2.astro';
import H6 from './Elements/H6.astro';
import ProcedureCards from './Elements/ProcedureCards.astro';
---

<section>
    <!-- Our Work Procedure Component -->
    <H6>HOW WE WORK</H6>
    <H2>OUR WORK PROCEDURE</H2>
    <ProcedureCards />
</section>