---
import H2 from './Elements/H2.astro';
import H6 from './Elements/H6.astro';
import TextParagraph from './Elements/TextParagraph.astro';

import { Image } from 'astro:assets';
import image from '../assets/img/gallery3.webp'


interface Props {
    smallTitle: string
    title: string
    text: string
    btnLabel: string
}

const { smallTitle, title, text, btnLabel } = Astro.props
---

<section>
    <!-- Portfolio Component -->
    <div class="text-content">
        <H6>{smallTitle}</H6>
        <H2>{title}</H2>
        <TextParagraph>{text}</TextParagraph>
    </div>
    <div class="image-container">
        <Image
            src={image} 
            alt="image" 
        />
    </div>
</section>

<style>


section{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 20rem;
    justify-content: center;
}

.image-container{
    flex-basis: 600px;

}

.image-container img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    
}

.text-content{
    flex-basis: 600px;
    flex-grow: 1;
}


</style>