---

import H1 from './Elements/H1.astro';
import TextParagraph from './Elements/TextParagraph.astro';

interface Props {
    title: string
    text: string
}

const { title, text } = Astro.props

---

<section>
    <!-- Hero Section -->
    <div class="hero-content">
        <H1>{title}</H1>
        <div>
            <TextParagraph>{text}</TextParagraph>
        </div>
    </div>
</section>

<style>

section{
    background-color: var(--secondary-color);
    padding-block: 4rem;
    
}

div{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.hero-content{
    max-width: 1600px;
    margin: 0 auto;
    padding: 2rem;
}

.hero-content > div{
    max-width: 60%;
}


@media (max-width: 1100px) {
    
    .hero-content > div{
        max-width: 100%;
    }

}



</style>