---

import H1 from './Elements/H1.astro';
import TextParagraph from './Elements/TextParagraph.astro';

interface Props {
    title: string
    text: string
}

const { title, text } = Astro.props

---

<section>
    <!-- Hero Section -->
    <div class="hero-content">
        <H1>{title}</H1>
        <TextParagraph>{text}</TextParagraph>
    </div>
</section>

<style>

section{
    background-color: beige;
}

div{
    padding-top: 2rem;
    padding-bottom: 6rem;
    container-type: inline-size;
    container-name: hero-text;
}

.hero-content{
    max-width: 60%;
    padding: 2rem;
}

@container hero-text (max-width: 1100px) {
    
    .hero-content{
        max-width: 100%;
    }
    
}



</style>