---
import ServiceCard from './ServiceCard.astro';
---

<div class="cards">
    <div class="cards-container">
        <ServiceCard mainText="HOME DESIGN CONSULTATION" subText="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo." />
        <ServiceCard mainText="HOME DESIGN 3D 2D INTERIOR SERVICE" subText="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo." accent />
        <ServiceCard mainText="HOME DESIGN CONSULTATION" subText="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo." />
    </div>
</div>


<style>

.cards{
    background-color: aquamarine;
    container-type: inline-size;
    container-name: cards;
}

.cards-container{
    transform: translateY(-5rem);
    display: flex;
    justify-content: center;
}

@container cards (max-width: 768px) {

    .cards-container{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    
}

</style>