---
import H1 from '../Elements/H1.astro';

---


<div>
    <H1>LETS CHANGE YOUR OWN HOME INTERIOR DESIGN NOW</H1>
</div>

<style>

    div {
        text-align: center;
        padding: 6rem 4rem;
        background-color: gray;
        margin-inline: auto;
    }
</style>