---
import H1 from '../Elements/H1.astro';
import Button from '../Elements/Button.astro';

---


<div>
    <H1>LETS CHANGE YOUR OWN HOME INTERIOR DESIGN NOW</H1>
    <Button label="Contact Us" />
</div>

<style>

    div {
        padding-inline: 4rem;
        padding-top: 7rem;
        background-color: gray;
        margin-inline: auto;
    }
</style>