---
import H4 from '../Elements/H4.astro';
import ContactElement from './ContactElement.astro';
import NewsletterForm from './NewsletterForm.astro';

import mailIcon from '../../assets/mail.svg'
import locationIcon from '../../assets/location-pin.svg'


---

<div>
    <H4>CONTACT US</H4>
    <ContactElement 
        alt="Location" 
        src={locationIcon.src} 
        mainText="Lumbung Hidup East Java"
    />
    <ContactElement 
        alt="Mail" 
        src={mailIcon.src} 
        mainText="Hello@Homco.com"
    />
    <NewsletterForm />
</div>

