---

interface Props {
    src: string
    alt: string
    mainText: string
    color?: string
}

const { src, alt, mainText, color } = Astro.props

import Icon from '../Elements/Icon.astro';
import TextParagraph from '../Elements/TextParagraph.astro'

---

<div>
    <Icon alt={alt} src={src} />
    <TextParagraph>{mainText}</TextParagraph>
</div>

<style define:vars={{color}}>

div{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: left;
    padding-block: 1rem;
}

p{
    font-size: 1.6rem;
    color: var(--color);
}

</style>