---
import H4 from '../Elements/H4.astro';
import ContactElement from './ContactElement.astro';
import NewsletterForm from './NewsletterForm.astro';

import mailIcon from '../../assets/mail.svg'
import locationIcon from '../../assets/location-pin.svg'


---

<div>
    <H4 color='var(--background-color)'>CONTACT US</H4>
    <ContactElement 
        color='var(--background-color)'
        alt="Location" 
        src={locationIcon.src} 
        mainText="Lumbung Hidup East Java"
    />
    <ContactElement 
        color='var(--background-color)'
        alt="Mail" 
        src={mailIcon.src} 
        mainText="Hello@Homco.com"
    />
    <NewsletterForm />
</div>

<style>

div{
    max-width: 28rem;
}

</style>
