---

import CallToAction from './CallToAction.astro';
import LogosComponent from './LogosComponent.astro';
import FooterMenu from './FooterMenu.astro';
---
<footer>
    <div>
        <LogosComponent />
        <CallToAction />
    </div>
    <div>
        <FooterMenu />
    </div>
</footer>

<style>
    footer{
        margin-top: 10rem;
        text-align: center;
        background-color: var(--dark-color);
    }

    div:nth-child(2){
        margin-top: 3rem;
        padding-inline: 2rem;
        transform: translateY(-4rem);

        
    }

    div:nth-child(1){
        transform: translateY(-12rem);
    }

    div{
        max-width: 1600px;
        margin-inline: auto;
    }



</style>