---

import Information from './Information.astro';
import FooterNavigation from './FooterNavigation.astro';
import ContactMenu from './ContactMenu.astro';


---


<div>
    <Information color='var(--background-color)' />
    <FooterNavigation />
    <ContactMenu />
</div>


<style>

div{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;

    gap: 1rem;
    text-align: left;
}

@media screen and (max-width: 700px) {
    div{
        grid-template-columns: 1fr;

    }
}

</style>