---
import H4 from '../Elements/H4.astro';
---


<div>
    <H4 color='var(--background-color)'>FOOTER NAVIGATION</H4>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/projects">Projects</a></li>
    </ul>
</div>


<style>


li{
    font-size: 2.4rem;
    padding-block: 0.8rem;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: var(--background-color);
}

li::before{
    padding: 0.4rem;
}

</style>