---
import H4 from '../Elements/H4.astro';
import NavigationItem from '../Navigation/NavigationItem.astro';
---


<div>
    <H4>FOOTER NAVIGATION</H4>
    <ul>
        <li><NavigationItem href="/" label="Home"></li>
        <li><NavigationItem href="/about" label="About Us"></li>
        <li><NavigationItem href="/services" label="Services"></li>
        <li><NavigationItem href="/projects" label="Home">Project</li>
    </ul>
</div>


<style>


li{
    font-size: 2.4rem;
    list-style: none;
    padding-block: 0.4rem;
    display: flex;
    align-items: center;
}

li::before{
    content: '>';
    padding: 0.4rem;
}

</style>