---
import Button from '../Elements/Button.astro';
---


<form>
    <input type="text" placeholder="Email Address">
    <div>
        <Button label="Subscribe" />
    </div>
</form>

<style>

form{
    display: flex;
    flex-direction: column;
}

input{
    padding: 1.4rem 2.4rem;
    font-size: 1.4rem;
}

div{
}


</style>