---
interface Props {
    color?: string
}

const { color } = Astro.props
---

<h2><slot /></h2>


<style define:vars={{color}}>

h2{
    font-size: 3.6rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-wrap: balance;
    color: var(--color);
}

</style>