---
interface Props {
    color?: string
}

const { color } = Astro.props
---

<h4><slot /></h4>

<style define:vars={{color}}>

h4{
    font-size: 2.4rem;
    margin-block: 1rem;
    color: var(--color);
    font-weight: 800;
}
</style>