---
interface Props {
    items: string[]
}

const { items } = Astro.props

---

<ul>
    {items.map(item => <li>{item}</li>)}
</ul>


<style>

ul{
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
}

li{
    font-size: 1.6rem;
    padding: 0.4rem;
      
}

li::marker{
    content: '✓';
    color: var(--accent-color);
    font-size: 1.6rem;
    font-weight: bold;
}



</style>