---
import ProcedureCard from './ProcedureCard.astro';

type Card = {
    src: string;
    mainText: string;
    subText: string;
}

interface Props {
    cards: Card[]
}

const { cards } = Astro.props

---

<div class="cards">
    <div class="cards-container">
        {cards.map(card => <ProcedureCard src={card.src} mainText={card.mainText} subText={card.subText} />)}
    </div>
</div>


<style>

.cards{
    margin-top: 2rem;
    container-type: inline-size;
    container-name: cards;
}

.cards-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    
}

@container cards (max-width: 768px) {

    .cards-container{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    
}

</style>