---
import H4 from './H4.astro';
import TextParagraph from './TextParagraph.astro';
import Icon from './Icon.astro';

interface Props {
    mainText: string;
    subText: string;
    primary?: boolean
    src?: string
}

const { mainText, subText, primary,src } = Astro.props;

---

<div class={primary ? 'primary' : ''}>
    <Icon alt="icon" src={src} />
    <H4>{mainText}</H4>
    <TextParagraph>{subText}</TextParagraph>
</div>


<style>

.primary{
    background-color: var(--accent-color);
}

div{
    background-color: var(--secondary-color);
    padding: 2rem;
    flex-basis: 600px;
}

</style>