---
import ServiceCard from './ServiceCard.astro';

type Card = {
    mainText: string;
    subText: string;
    accent?: boolean
}

interface Props {
    cards: Card[]
}

const { cards } = Astro.props

---

<div class="cards">
    <!-- Service Cards -->
    <div class="cards-container">
        {
            cards.map(card => <ServiceCard mainText={card.mainText} subText={card.subText} accent={card.accent} />)
        }        
    </div>
</div>


<style>

.cards{
    container-type: inline-size;
    container-name: cards;
}

.cards-container{
    transform: translateY(-5rem);
    display: flex;
    justify-content: center;
}

@container cards (max-width: 768px) {

    .cards-container{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    
}

</style>