---
import H4 from './H4.astro';
import TextParagraph from './TextParagraph.astro';
import ArrowIcon from './ArrowIcon.astro';

interface Props {
    mainText: string;
    subText: string;
    accent?: boolean
}

const { mainText, subText,accent } = Astro.props;

---

<div class={accent ? 'accent' : ''}>
    <H4>{mainText}</H4>
    <TextParagraph>{subText}</TextParagraph>
    <ArrowIcon />
</div>


<style>

.accent{
    background-color: var(--accent-color);
}

div{
    background-color: var(--primary-color);
    padding-block: 2rem;
    background-color: 
    max-width: 340px;
    padding: 2rem;
}

</style>