---
interface Props {
    color?: string
}

const { color } = Astro.props
---


<p><slot /></p>


<style define:vars={{color}}>

p{
    font-size: 1.8rem;
    padding-block: 2rem;
    color: var(--color);
    letter-spacing: 1.5px;
    text-wrap:balance;

}

</style>