---
import NavigationComponent from '../components/Navigation/NavigationComponent.astro';
import Footer from '../components/Footer/Footer.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>ELEVATE BUILD | {title}</title>
	</head>
	<body>
		<NavigationComponent />
		<slot />	
	</body>
	<Footer />
</html>

<style is:global>

:root{
	--accent-color: #e0b853;
	--text-color: #121211;
	--background-color: #fcfcfb;
	--primary-color: #b29a5d;
	--secondary-color: #dbc48b;
	--dark-color: #796942;
	--dark-color-light: #85754f;
}

*, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-family: 'Poppins', sans-serif;
	background-color: var(--background-color);
	font-size: 62.5%;
	overflow-x: hidden;
}

main{
	max-width: 1600px;
	margin:auto;
	padding: 2rem;
}

p{
	font-size: 1.8rem;
	line-height: 2.8rem;
	text-wrap:balance;
	letter-spacing: 0.2rem;
	padding-block: 2rem;
}

p:has(img){
	text-align: center;
}

p:has(img) img{
	width: 60%;
    height: auto;
}

h1{
	font-size: 4.2rem;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h2{
	font-size: 3.6rem;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 2px;
}

section{
	padding-block: 6rem;
}

@media screen and (max-width: 1454px) {
	section{
		padding-block: 2rem;
	}
}

@media screen and (max-width: 768px) {
	html{
		font-size: 57%;
	}
}

@media screen and (max-width: 438px) {
	html{
		font-size: 46%;
	}
}

</style>
